.allshapes{
	position: absolute;
	background-color: rgb(113, 238, 244);
}



.allr{
 position: absolute;
 transform: scale(0.9);
 left: -5px;
 opacity: 0.5;
}

.allr: hover {
	top: 50px;
}

.alla{
position: absolute;
transform: scale(0.9);
left: -5px;
opacity: 0.5;
}

.alln{
position: absolute;
transform: scale(0.9);
left: -5px;
opacity: 0.5;
}

.allg{
position: absolute;
transform: scale(0.9);
left: -5px;
opacity: 0.5;
}

.alle{
position: absolute;
transform: scale(0.9);
left: -5px;
opacity: 0.5;
}

.alls{
position: absolute;
transform: scale(0.9);
left:- -5px;
opacity: 0.5;


}


.r1 {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 100px;
	left: 90px;
}

.r1: hover{
	top:20px;
}


.r2{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 180px;
	left: 20px;
}

.r3{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 250px;
	left: 20px;
}

.r4{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 325px;
	left: 20px;
}

.r5{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 110px;
	left: 20px;
	transition: all 0.5s ease-in-out;
}

.r5:hover{
	top: 45px;
}

.r6{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 140px;
	left: 140px;
}

.r7{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 190px;
	left: 100px;
}

.r8{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 228px;
	left: 70px;
}

.r9{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 260px;
	left: 120px;
}

.r10{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 320px;
	left: 150px;
}

.a11{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 320px;
	left: 270px;
}

.a12{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 250px;
	left: 270px;
}

.a13{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 180px;
	left: 270px;
}

.a14{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 115px;
	left: 310px;
	transition: all 0.5s ease-in-out;
}

.a14:hover{
	top: 45px;
}

.a15{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 115px;
	left: 380px;
}

.a16{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 180px;
	left: 422px;
}

.a17{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 250px;
	left: 422px;
}

.a18{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 320px;
	left: 422px;
}

.a19{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 270px;
	left: 340px;
}

.a20{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 270px;
	left: 380px;
}

.n21{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 320px;
	left: 540px;
}

.n22{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 250px;
	left: 540px;
}

.n23{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 180px;
	left: 540px;
}

.n24{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 115px;
	left: 540px;
}

.n25{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 160px;
	left: 590px;
	transition: all 0.5s ease-in-out;
}

.n25:hover{
	top: 45px;
}

.n26{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 200px;
	left: 630px;
}

.n27{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 255px;
	left: 665px;
}

.n28{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 315px;
	left: 700px;
}

.n29{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 245px;
	left: 700px;
}

.n30{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 180px;
	left: 700px;
}

.n31{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 115px;
	left: 700px;
}

.g32{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 290px;
	left: 810px;
}

.g33{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 315px;
	left: 870px;
}

.g34{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 315px;
	left: 930px;
}

.g35{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 270px;
	left: 950px;
}

.g36{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 225px;
	left: 800px;
}

.g37{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 160px;
	left: 815px;
	transition: all 0.5s ease-in-out;
}

.g37:hover{
	top: 45px;
}

.g38{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 115px;
	left: 860px;
}

.g39{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 115px;
	left: 920px;
}

.g40{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 230px;
	left: 920px;
}

.e41{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 315px;
	left: 1060px;
	transform: rotate(-220deg);
}

.e42{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);	
	position: absolute;
	top: 110px;
	left: 1060px;
	transform: rotate(-220deg);
}

.e43{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 180px;
	left: 1060px;
	transform: rotate(-220deg);
}

.e44{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 250px;
	left: 1060px;
	transform: rotate(-220deg);
}

.e45{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 110px;
	left: 1110px;
	transform: rotate(-220deg);
	transition: all 0.5s ease-in-out;
}

.e45:hover{
	top: 45px;
}

.e46{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 110px;
	left: 1155px;
	transform: rotate(-220deg);
}

.e47{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 315px;
	left: 1155px;
	transform: rotate(-220deg);
}

.e48{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 315px;
	left: 1110px;
	transform: rotate(-220deg);
}

.e49{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 230px;
	left: 1125px;
	transform: rotate(-220deg);
}

.s50{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 110px;
	left: 1310px;
	transform: rotate(-220deg);
}


.s51{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 140px;
	left: 1360px;
	transform: rotate(-220deg);
}

.s52{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 140px;
	left: 1260px;
	transform: rotate(-220deg);
}

.s53{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 190px;
	left: 1277px;
	transform: rotate(-220deg);
}

.s54{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 230px;
	left: 1310px;
	transform: rotate(-220deg);
}

.s55{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 270px;
	left: 1350px;
	transform: rotate(-220deg);
}

.s56{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 320px;
	left: 1310px;
	transform: rotate(-220deg);
}

.s57{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: rgb(113, 238, 244);
	position: absolute;
	top: 295px;
	left: 1260px;
	transform: rotate(-220deg);
	transition: all 0.5s ease-in-out;
}

.s57:hover{
	top: 45px;
}

.r58{
	height: 15px;
	width: 30px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: white;
	position: absolute;
	top: 110px;
	left: 125px;
	transform: rotate(215deg);
}

.a59{
	height: 15px;
	width: 30px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: white;
	position: absolute;
	top: 125px;
	left: 420px;
	transform: rotate(215deg);
}

.n60{
	height: 15px;
	width: 30px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: white;
	position: absolute;
	top: 125px;
	left: 740px;
	transform: rotate(215deg);
}

.g61{
	height: 15px;
	width: 30px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: white;
	position: absolute;
	top: 125px;
	left: 960px;
	transform: rotate(215deg);
}

.e62{
	height: 15px;
	width: 30px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: white;
	position: absolute;
	top: 120px;
	left: 1197px;
	transform: rotate(215deg);
}

.s63{
	height: 15px;
	width: 30px;
	border-radius: 50%;
	transform: skew(0 deg);
	background-color: white;
	position: absolute;
	top: 150px;
	left: 1400px;
	transform: rotate(215deg);
}

p{
	color: rgb(0, 0, 0);
	width: 500px;
	font-family: Tahoma;
	font-size: 15px;
	line-height: 30px;
	font-weight: ;
	letter-spacing: 2px;
	text-align: left;
}

h1{
	color: rgb(0, 0, 0);
	width: 800px;
	font-family: Tahoma;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: 2px;
}


