.paragraph{
	position: absolute;
	font-family: monospace;
	font-size: 10px;
	top: 1000px;
	left: 350px;
	width: 700px;
}



.header{
	font-family: Modak;
	font-size: 90px;
	position:absolute;
	top: 10px;
	left: 450px;
}

.snake{
	position: absolute;
	top: 240px;
	left: 60px;
	width: 320px;
}

.nid{
	position: absolute;
	top: 270px;
	left: 420px;
	width: 270px;
}

.tent{
	position: absolute;
	top: 310px;
	left: 750px;
	width: 300px;
}

.slow{
	position: absolute;
	top: 230px;
	left: 1080px;
	width: 350px;
}

.grim{
 	position: absolute;
	top: 580px;
	left: 200px;
	width: 320px;
}

.koff{
	position: absolute;
	top: 580px;
	left: 600px;
	width: 290px;
}

.cro{
	position: absolute;
	top: 590px;
	left: 980px;
	width: 320px;
}

















