.second{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 200px;
	height: 200px;
	border: 1px solid rgb(100, 0, 100);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.second2{
	position: absolute;
	top: 135px;
	left: 135px;
	width: 125px;
	height: 125px;
	background-color: black;
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	display:none;
}

.second3{
	position: absolute;
	top: 215px;
	left: 50px;
	width: 125px;
	height: 125px;
	border: 5px solid rgb(100, 200, 100);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.second4{
	position: absolute;
	top: 240px;
	left: 74px;
	width: 75px;
	height: 75px;
	background-color: white;
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	display: none;
}

.second5{
	position: absolute;
	top: 295px;
	left: 155px;
	width: 55px;
	height: 55px;
	border: 10px solid rgb(50, 100, 200);
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.second6{
	position: absolute;
	top: 307px;
	left: 168px;
	width: 30px;
	height: 30px;
	background-color: white;
	animation-name: anim1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	display: none;
}

.minute{
	position: absolute;
	top: 450px;
	left: 500px;
	width: 200px;
	height: 200px;
	border: 5px solid rgb(50, 100, 200);
	animation-name: anim1;
	animation-duration: 60s;
	animation-iteration-count: infinite;
}

.minute2{
	position: absolute;
	top: 400px;
	left: 538px;
	width: 125px;
	height: 125px;
	background-color: white;
	animation-name: anim1;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	display: none;
}

.minute3{
	position: absolute;
	top: 400px;
	left: 450px;
	width: 125px;
	height: 125px;
	border: 30px solid rgb(100, 0, 100);
	animation-name: anim1;
	animation-duration: 60s;
	animation-iteration-count: infinite;
}

.minute4{
	position: absolute;
	top: 240px;
	left: 475px;
	width: 75px;
	height: 75px;
	background-color: white;
	animation-name: anim1;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	display: none;
}

.minute5{
	position: absolute;
	top: 450px;
	left: 555px;
	width: 55px;
	height: 55px;
	border: 10px solid rgb(100, 200, 100);
	animation-name: anim1;
	animation-duration: 60s;
	animation-iteration-count: infinite;
}

.minute6{
	position: absolute;
	top: 310px;
	left: 567px;
	width: 30px;
	height: 30px;
	background-color: white;
	animation-name: anim1;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	display: none;
}

.hour{
	position: absolute;
	top: 100px;
	left: 925px;
	width: 200px;
	height: 200px;
	border: 20px solid rgb(100, 200, 100);
	animation-name: anim1;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

.hour2{
	position: absolute;
	top: 137px;
	left: 938px;
	width: 125px;
	height: 125px;
	background-color: white;
	animation-name: anim1;
	animation-duration: 3600s;
	animation-iteration-count: infinite;
	display: none;
}

.hour3{
	position: absolute;
	top: 230px;
	left: 930px;
	width: 125px;
	height: 125px;
	border: 10px solid rgb(50, 100, 200);
	animation-name: anim1;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

.hour4{
	position: absolute;
	top: 239px;
	left: 885px;
	width: 75px;
	height: 75px;
	border: 2px solid white;
	animation-name: anim1;
	animation-duration: 3600s;
	animation-iteration-count: infinite;
	display: none;
}

.hour5{
	position: absolute;
	top: 350px;
	left: 950px;
	width: 55px;
	height: 55px;
	border: 2px solid rgb(100, 0, 100);
	animation-name: anim1;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

.hour6{
	position: absolute;
	top: 312px;
	left: 982px;
	width: 30px;
	height: 30px;
	background-color: white;
	animation-name: anim1;
	animation-duration: 3600s;
	animation-iteration-count: infinite;
	display: none;
}

@keyframes anim1 {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
    }
}

.second.alarm {
	border: 1px solid rgb(100, 10, 25);
	animation-name: clockAlarm;
	animation-timing-function: linear;
}

.second3.alarm {
	border: 5px solid rgb(100, 10, 25);
	animation-name: clockAlarm;
	display:none;
	animation-timing-function: linear;
}

.second5.alarm{
	border: 10px solid rgb(100, 10, 25);
	animation-name: clockAlarm;
	display: none;
	animation-timing-function: linear;
}

.minute.alarm{
	border: 5px solid rgb(100, 10, 25);
	animation-name: clockAlarm;
	animation-duration: 1s;
	animation-timing-function: linear;
}

.minute3.alarm{
	border: 30px solid rgb(100, 10, 25);
	animation-name: clockAlarm;
	animation-duration: 1s;
	display: none;
	animation-timing-function: linear;
}

.minute5.alarm{
	border: 10px solid rgb(100, 10, 25);
	animation-name: clockAlarm;
	animation-duration: 1s;
	display: none;
	animation-timing-function: linear;
}

.hour.alarm{
	border: 20px solid rgb(100, 10, 25);
	animation-name: clockAlarm;
	animation-duration: 1s;
	animation-timing-function: linear;
}

.hour3.alarm{
	border: 10px solid rgb(100, 10, 25);
	animation-name: clockAlarm;
	animation-duration: 1s;
	display: none;
	animation-timing-function: linear;
}

.hour5.alarm{
	border: 2px solid rgb(100, 10, 25);
	animation-name: clockAlarm;
	animation-duration: 1s;
	display: none;
	animation-timing-function: linear;
}


@keyframes clockAlarm{
	0% {
	transform: rotate(0deg) scale(1)
	background-color: rgb(200, 20, 50);
}
	50% {
	transform: scale(2);
	background-color: rgb(200, 20, 50);
	}

	100% {
	transform: rotate(0deg) scale(1);
	background-color: rgb(200, 20, 50);
	}
}

.snooze{
	position: absolute;
	top: 100px;
	left: 550px;
	width: 100px;
	height: 50px;
	border-radius: 25px;
	opacity: 0;
	color: black;
	text-align: center;
	line-height: 50px;
	font-family: DotGothic16;
}

.snooze.alarm{
	opacity: 1;
	animation-name: snAlarm;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes snAlarm{
	0% {
	background-color: rgb(100, 0, 100);
}
	50% {
	background-color: rgb(100, 200, 100);
	}

	100% {
	background-color: rgb(50, 100, 200);
	}
}










